.messi-vertical {
        max-width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
        height: auto; /* Mantiene la proporción de aspecto original de la imagen */
        display: block; /* Elimina cualquier espacio en blanco debajo de la imagen */
        margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
    }

/* Estilo para las imágenes con la clase "imagen-destaca" */
.imagen-destacada {
  max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 10px; /* Agrega espacio alrededor de las imágenes */
  border: 2px solid #333; /* Agrega un borde de 2px sólido de color gris oscuro */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

/* Estilo para centrar elementos */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos específicos para iPhone X Pro en modo vertical */
@media screen and (min-width: 1125px) and (max-width: 2436px) {
  /* Estilos para la clase messi-vertical */
  .messi-vertical {
    max-width: 80%; /* Reduzcamos el tamaño máximo de la imagen al 80% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
    display: block; /* Elimina cualquier espacio en blanco debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
  }

  /* Estilos para la clase imagen-destacada */
  .imagen-destacada {
    max-width: 80%; /* Reduzcamos el tamaño máximo de la imagen al 80% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 5px; /* Reduzcamos el espacio alrededor de las imágenes */
    border: 1px solid #333; /* Reduzcamos el grosor del borde a 1px y cambiamos el color */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Reduzcamos la sombra a 1px */
  }
}
